<!DOCTYPE html>
<head>
  <%- include('head') %>
</head>
<title></title>
<body>
    <%- include('header') %>
    <div class ="container1">
<h1>second page</h1>

<% if(isadmin){ %>
   <a href <h1> <%= email %></h1></a>
    <% } else { %>}
    <h1>sorry your are  not admin</h1>
    <% } %>

<div>

    </body>
</html>